/* global stylesheet */
* {font-family: "Helvetica" !important;}

body {
	margin: 0px auto;
	min-width: 1024px;
	text-align: center;
}

.box-container {
	background-repeat: no-repeat;
	background-position: center;
	margin: 0px auto;
}

.wrap {
	width: 1024px;
	height: 100%;
	margin: 0px auto;
	position: relative;
}

.text-transparent {
	opacity: 0.65;
}

/* banner stylesheet */
#banner {
	max-width: 1920px;
	height: 93px;
	margin: 0px auto;
	position: relative;
}

#banner .logo {
	position: absolute;
	background-image: url(assets/image/common/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	width:191px;
	height:54px;
	left:50px;
	top:20px;
}

#banner .navsize {
	font-size: 12px;
	color: rgb(255, 255, 255);
	top: 40px;
	position: absolute;
}

#banner .english {
	right: 50px;
}

#banner .lang-split {
	font-size: 12px;
	color: #666666;
	top: 40px;
	position: absolute;
	right: 93px;
}

#banner .chinese {
	right: 100px;
}

#banner .contacts {
	right: 188px;
	background-image: url(assets/image/common/nav_contact_unselected.png);
	background-size: 12px 12px;
	background-repeat: no-repeat;
	background-position: left;
	text-align: right;
	width: 85px;
}

#banner .faq {
	right: 290px;
	background-image: url(assets/image/common/nav_FAQ_unselected.png);
	background-size: 12px 14px;
	background-repeat: no-repeat;
	background-position: left;
	text-align: right;
	width: 45px;
}

#banner .team {
	right: 355px;
	background-image: url(assets/image/common/nav_team_unselected.png);
	background-size: 18px 12px;
	background-repeat: no-repeat;
	background-position: left;
	text-align: right;
	width: 55px;
}

#banner .documents {
	right: 425px;
	background-image: url(assets/image/common/nav_document_unselected.png);
	background-size: 13px 11px;
	background-repeat: no-repeat;
	background-position: left;
	text-align: right;
	width: 95px;
}

#banner .roadmap {
	right: 544px;
	background-image: url(assets/image/common/nav_roadmap_unselected.png);
	background-size: 12px 15px;
	background-repeat: no-repeat;
	background-position: left;
	text-align: right;
	width: 80px;
}

#banner .tokensale {
	right: 645px;
	background-image: url(assets/image/common/nav_token_unselected.png);
	background-size: 17px 13px;
	background-repeat: no-repeat;
	background-position: left;
	text-align: right;
	width: 100px;
}

#banner .howworks {
	right: 760px;
	background-image: url(assets/image/common/nav_work_unselected.png);
	background-size: 19px 13px;
	background-repeat: no-repeat;
	background-position: left;
	text-align: right;
	width: 170px;
}

#banner .whattosolve {
	right: 945px;
	background-image: url(assets/image/common/nav_solve_unselected.png);
	background-size: 14px 12px;
	background-repeat: no-repeat;
	background-position: left;
	text-align: right;
	width: 120px;
}

/* index.php stylesheet */
#index { height: 1425px; }

#index .header {
	width:100%;
	height:860px;
	background:-ms-linear-gradient(left, #49c1c7, #6151bd);
	background:-moz-linear-gradient(left, #49c1c7, #6151bd);/*火狐*/
	background:-webkit-gradient(linear, 0% 0%, 100% 0%,from(#49c1c7), to(#6151bd));/*谷歌*/
	background-image:-webkit-gradient(linear,left top,right top,color-start(0, #49c1c7),color-stop(1, #6151bd));/* Safari & Chrome*/  
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#49c1c7', endColorstr='#6151bd'); /*IE6 & IE7*/  
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#49c1c7', endColorstr='#6151bd'); /* IE8 */
	background-size:1920px 860px;
	background-repeat: no-repeat;
	background-position: center;
}

#index .title {
	font-size: 46px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	top: 82px;
	width: 100%;
	left: 0px;
	text-align: left;
	position: absolute;
}

#index .sub-title {
	font-size: 22px;
	color: rgb(255, 255, 255);
	top: 300px;
	width: 100%;
	left: 0px;
	text-align: left;
	position: absolute;
}

#livecoins {
	background-image: url(assets/image/0/home_pic.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 444px;
	width: 454px;
	top: 122px;
	left: 574px;
	position: absolute;
}

#livecoins .text {
	font-size: 18px;
	color: rgb(255, 255, 255);
	position: absolute;
}

#livecoins .ds {
	top: 100px;
	left: 73px;
}

#livecoins .sm {
	top: 100px;
	left: 290px;
}

#livecoins .ep {
	top: 330px;
	left: -30px;
}

#livecoins .af {
	top: 330px;
	left: 330px;
	width: 160px;
}

#livecoins .tp {
	top: 450px;
	left: 175px;
}

#video {
	background-image: url(assets/image/0/home_video.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 266px;
	width: 443px;
	top: 430px;
	left: 0px;
	position: absolute;
}

#video .play {
	background-image: url(assets/image/0/home_button_start.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 64px;
	width: 64px;
	top: 101px;
	left: 190px;
	position: absolute;
}

#index .content {
	width:100%;
	height:565px;
	background-size:1920px 565px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #040c26;
}

#index .content-img {
	background-repeat: no-repeat;
	background-position: center;
	height: 98px;
	width: 92px;
	top: 106px;
	position: absolute;
}

#index .img-tts {
	background-image: url(assets/image/0/home_icon_total.png);
	left: 154px;
}

#index .img-sc {
	background-image: url(assets/image/0/home_icon_soft.png);
	left: 466px;
}

#index .img-hc {
	background-image: url(assets/image/0/home_icon_hard.png);
	left: 778px;
}

#index .content-title {
	font-size: 34px;
	color: #ffd733;
	position: absolute;
	top: 126px;
	width: 300px;
	left: -104px;
}

#index .content-sub-title {
	font-size: 24px;
	color: rgb(255, 255, 255);
	position: absolute;
	top: 182px;
	width: 300px;
	left: -104px;
}

#index .btn {
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 213px;
	height: 46px;
	top: 400px;
	cursor:pointer;
}

#index .btn-whitepaper {
	background-image: url(assets/image/0/home_button_unselected_blue.png);
	left: 161px;
}

#index .btn-presentation {
	background-image: url(assets/image/0/home_button_unselected_blue.png);
	left: 405px;
}

#index .btn-tutorial {
	background-image: url(assets/image/0/home_button_unselected_blue.png);
	left: 649px;
}

#index .btn-icon {
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}

#index .icon-whitepaper {
	background-image: url(assets/image/0/home_icon_whitepaper_unselected.png);
	width: 22px;
	height: 24px;
	left: 30px;
	top: 10px;
}

#index .icon-presentation {
	background-image: url(assets/image/0/home_icon_presentation_unselected.png);
	width: 27px;
	height: 27px;
	left: 20px;
	top: 10px;
}

#index .icon-tutorial {
	background-image: url(assets/image/0/home_icon_tutorial_unselected.png);
	width: 29px;
	height: 27px;
	left: 45px;
	top: 10px;
}

#index .icon-text {
	font-size: 24px;
	color: rgb(255, 255, 255);
	padding-left: 25px;
	top: -5px;
	position: absolute;
}

/* document.php stylesheet */
#document { height: 705px; }

#document .header {
	background-image: url(assets/image/common/nav_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 80px;
}

#document .content {
	background-image: url(assets/image/8/contact_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 625px;
}

#document .title {
	font-size: 36px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	top: 86px;
	width: 100%;
	text-align: center;
	position: absolute;
}

#document .arrow {
	background-repeat: no-repeat;
	background-position: center;
	width: 29px;
	height: 46px;
	top: 336px;
	position: absolute;
	cursor: pointer;
}

#document .leftarrow {
	background-image: url(assets/image/5/document_arrow_left.png);
	left: 0px;
}

#document .rightarrow {
	background-image: url(assets/image/5/document_arrow_right.png);
	left: 995px;
}

#document .scrollrect {
	position: absolute;
	height: 354px;
	width: 824px;
	overflow: hidden;
	top: 182px;
	left: 130px;
}

#document .cell {
	position: absolute;
	height: 354px;
	width: 259px;
	cursor: pointer;
}

#document .cell-bg {
	background-image: url(assets/image/5/document_pic.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 354px;
	width: 259px;
	position: absolute;
	left: 0px;
	right: 0px;
}

#document .cell-title {
	width: 100%;
	position: absolute;
	top: 260px;
	left: 0px;
	padding-left: 24px;
	font-size: 24px;
	color: rgb(0, 0, 0);
	text-align: left;
}

#document .cell-subtitle {
	width: 100%;
	position: absolute;
	top: 290px;
	left: 0px;
	padding-left: 24px;
	font-size: 18px;
	color: #999999;
	text-align: left;
}

/* contact.php stylesheet */
#contact { height: 733px; }

#contact .header {
	background-image: url(assets/image/common/nav_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 80px;
}

#contact .content {
	background-image: url(assets/image/8/contact_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 653px;
}

#contact .title {
	font-size: 38px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	top: 105px;
	width: 100%;
	text-align: center;
	position: absolute;
}

#contact .inputbox {
	background-image: url(assets/image/8/contact_input.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 335px;
	height: 63px;
	position: absolute;
	top: 205px;
	left: 280px;
	border-radius: 10px;
	border: 1px solid #bbb;
	font-size: 18px;
	padding-left: 20px;
}

#contact .submitbutton {
	width: 132px;
	height: 63px;
	background-image: url(assets/image/8/contact_button.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 205px;
	left: 600px;
	border-radius: 10px;
	border: 0px;
	color: rgb(255, 255, 255);
	font-size: 18px;
	font-weight: bold;
}

#contact .icon {
	position: absolute;
	width: 76px;
	height: 76px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}

#contact .icon1 {
	background-image: url(assets/image/8/contact_icon1.png);
	top: 350px;
	left: 303px;
}

#contact .icon2 {
	background-image: url(assets/image/8/contact_icon2.png);
	top: 350px;
	left: 417px;
}

#contact .icon3 {
	background-image: url(assets/image/8/contact_icon3.png);
	top: 350px;
	left: 531px;
}

#contact .icon4 {
	background-image: url(assets/image/8/contact_icon4.png);
	top: 350px;
	left: 645px;
}

#contact .icon5 {
	background-image: url(assets/image/8/contact_icon5.png);
	top: 462px;
	left: 189px;
}

#contact .icon6 {
	background-image: url(assets/image/8/contact_icon6.png);
	top: 462px;
	left: 303px;
}

#contact .icon7 {
	background-image: url(assets/image/8/contact_icon7.png);
	top: 462px;
	left: 417px;
}

#contact .icon8 {
	background-image: url(assets/image/8/contact_icon8.png);
	top: 462px;
	left: 531px;
}

#contact .icon9 {
	background-image: url(assets/image/8/contact_icon9.png);
	top: 462px;
	left: 645px;
}

#contact .icon10 {
	background-image: url(assets/image/8/contact_icon10.png);
	top: 462px;
	left: 759px;
}

/* footer.php stylesheet */
#footer {
	max-width: 1920px;
	height: 168px;
	background-size: 1920px 168px;
	background-color: #2f363e;
}

#footer .text {
	position:absolute;
	font-size: 14px;
	text-align: center;
}

#footer .content1 {
	width: 100%;
	color: #ffffff;
	top: 38px;
	left: 0px;
}

#footer .content2 {
	width: 100%;
	color: #01aeff;
	top: 66px;
	left: 0px;
}

#footer .content3 {
	width: 100%;
	color: #ffffff;
	top: 94px;
	left: 0px;
}

#footer .content4 {
	color: #ffffff;
	top: 94px;
	left: 840px;
}

#footer .weibo {
	position:absolute;
	background-image: url(assets/image/common/weibo_button.png);
	top: 86px;
	left: 89%;
	width:38px;
	height:38px;
}

#footer .wechat {
	position:absolute;
	background-image: url(assets/image/common/weixin_button.png);
	top: 86px;
	left: 93%;
	width:38px;
	height:38px;
}